resources/configuration.dtd

<!ELEMENT config (setting)>
<!ELEMENT setting (theme, water_shade_color, water_color, thread_manager, thread_manual_threshold, windows_state)>
<!ELEMENT theme (#PCDATA)>
<!ELEMENT water_shade_color (#PCDATA)>
<!ELEMENT water_color (#PCDATA)>
<!ELEMENT thread_manager (#PCDATA)>
<!ELEMENT thread_manual_threshold (#PCDATA)>
<!ELEMENT windows_state (#PCDATA)>
